@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../source/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../source/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../source/fonts/Montserrat-Black.woff2') format('woff2'),
      url('../source/fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../source/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../source/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  top: 1.2rem;
  cursor: pointer;
}
.navigation__background {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: fixed;
  right: 2.4rem;
  top: 1.2rem;
  background-image: radial-gradient(#5CCD99, #5CCD99);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #90CAF9;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(140);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 1.8rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 25px;
  height: 2px;
  background-color: #B0BEC5;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.logo{
  border: transparent !important;
  margin-top: -18px;
}
  
.navbar-li{
    font-weight: 900;
    font-size: 20px;
    line-height: 90%;
    color: #fff !important;
    padding-left: 15px !important;
    padding-right: 25px !important;
}

.apply-now-li{
    background-color: #fff;
    border-radius: 16px;
    width: 120px;
    color: #5CCD9C !important;
    text-align: center;
    margin-top: -1px;
    font-weight: 900;
    font-size: 20px;
    line-height: 90%;
}

.pr-3{
  padding-right: 3rem !important;
}

.pl-3{
  padding-left: 3rem !important;
}

.title{
align-self: center;
font-style: normal;
font-weight: 900;
font-size: 80px;
line-height: 90%;
text-align: center;
color: #fff;
width: 700px;
}

.p-center{
  place-content: center;
}

.sectionWhite{
  height: 50vh;
  background-color: #fff;
}

.sectionVideo{
  height: 100vh;
}

.titleAbout{
  width: 650px;
  padding-bottom: 30px;
}

.spanAbout{
  font-size: calc(1em + 1vmin);
  max-width:100%;
  font-family: Montserrat-Medium;
  font-weight: 500;
}

.sectionBannerImg{
  width: 100%;
}

.spanMV{
  font-size: calc(1em + 1vmin);
  max-width:100%;
  font-family: Montserrat-Medium;
  font-weight: 500;
}

.my-20{
  padding-top: 5rem;
}

.webkitCenter{
  text-align: -webkit-center;
}

.contactInput{
  border: 5px solid #57CC99;
  box-sizing: border-box;
  border-radius: 28px;
}

.labelInput{
  font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 90%;
padding-left: 15px;
}

.contactSelect{
  border: 5px solid #57CC99;
  box-sizing: border-box;
  border-radius: 28px;
  height: 50px;
  width: 100%;
}

.applybtn{
  border: 5px solid #57CC99;
  background-color: #5CCD99;
  color: #fff;
  height: 36px;
  border-radius: 28px;
  width: 200px;
  font-weight: bold;
  font-size: 1.5rem;
}

.sectionWhiteApply{
  height: auto;
  background-color: #fff;
}

.greenNav{
  background-color: #57CC99 !important;
}

nav{
  height: 70px;
}

#map{
  width: 600px;
  height: 300px;
}


/* responsive part */
/* small mobile :320px. */
@media only screen and (max-width: 479px) {
  .applyImgcircle{
    margin-left: -41px;
    width: 250px !important;
  }
  .sectionGreenDif{
    background: linear-gradient(90deg, #80ED99 20%, #22577A 100%);
    height: auto;
  }
  .titleAB{
    font-size: 60px !important;
    color: #fff;
    font-family: Montserrat-Black;
    font-weight: 900;
  }
  .titleABmini{
    font-size: 20px !important;
    color: #fff;
    font-family: Montserrat-Black;
  }
  .spanAbout{
    padding-top: 20px;
  }
  .divDerecha Img{
    max-width: 100%;
    margin-left: 10px !important;
    display:block;
  } 
  .contactInput{
    border: 3px solid #57CC99;
  } 
  .contactSelect{
    border: 3px solid #57CC99;
  } 
  .labelInput{
    font-size: 20px;
    padding-top: 13px;
  }
  .vh37{
    height: 37vh !important;
  }
  .title{
    font-size: 60px !important;
  }
  .sectionWhiteAb{
    background-color: #fff;
    height: auto !important;
  }
  .sectionWhiteApply{
    height: auto !important;
    background-color: #fff;
  }
  .py-min-2{
    margin-top: 4rem;
  }
  .greenNav{
    height: 95px;
  }
  .sectionWhiteContact{
    background-color: #fff;
    height: auto !important;
  }
  .contactCircleBelow{
    margin-left: 203px !important;
    width: 140px;
  }
  .aboutCircleBelow{
    margin-left: -21px !important;
  }
  .sectionWhite{
    height: auto !important;
  }
  #map{
    width: 300px !important;
    height: 500px !important;
  }
  .sectionWhiteApply{
    height: auto !important;
  }
  .navigation__list{
    left: 43% !important;
  }
  .navigation__link:link{
    font-size: 2rem;
    padding: auto !important;
  }
}

@media (min-width: 40.625em) {
  .vh37{
    height: 37vh !important;
  }
  .title{
    font-size: 60px !important;
  }
  .sectionWhiteAb{
    background-color: #fff;
    height: 50vh !important;
  }
  .sectionWhiteApply{
    height: auto !important;
    background-color: #fff;
  }
  .py-min-2{
    margin-top: 4rem;
  }
  .greenNav{
    height: 95px;
  }
  .sectionWhiteContact{
    background-color: #fff;
    height: 75vh !important;
  }
  .contactCircleBelow{
    margin-left: -110px !important;
    position: absolute;
  }
  .aboutCircleBelow{
    margin-left: -21px !important;
    position: absolute;
  }
  .sectionWhite{
    height: 60vh !important;
  }
  #map{
    width: 800px !important;
    height: 500px !important;
  }
  .sectionWhiteApply{
    height: auto !important;
  }
}
  @media (min-width: 48em) {
    .title{
      font-size: 130px !important;
    }
  }
  @media (min-width: 62em) {
    .title{
      font-size: 80px !important;
    }
    .divDerecha Img{
      max-width: 100%;
      margin-left: 92px !important;
      display:block;
    }  
    .titleAbout{
      width: 640px !important;
    }
    .greenNav{
      height: 75px;
    }
    .sectionWhite{
      height: auto !important;
    }
    .sectionWhiteAb{
      background-color: #fff;
      height: 120vh !important;
    }
    .aboutCircleBelow{
      margin-left: -70px !important;
      position: absolute;
    }
    .sectionWhiteContact{
      background-color: #fff;
      height: 120vh !important;
    }
    .contactCircleBelow{
      margin-left: -160px !important;
      position: absolute;
    }
    #map{
      width: 600px !important;
      height: 300px !important;
    }
    .vh37{
      height: auto !important;
    }
    .applyImgcircle{
      margin-left: -121px;
      width: 500px !important;
    }
  }

  /* end responsive part */


  .animated {
    animation: dash 5s ;
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1570;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 0;
    }
  
  
  }


  .svgApply{
    margin-left: -225px;
  }

  .svgAbout{
    position: relative;
  }

  .upCircle img{
    max-width: 50% !important;
    margin-left: 200px;
  }
  .text-right{
    text-align: right;
  }
/* 

INDEX/HOME CSS

*/

.sectionWhiteHome{
  width:100%;
  background-color: #F9FAFD;
}



.start-Section .backImg {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
  z-index: -100;
}

.start-Section h1{
  position:fixed;
  font-size: 3rem;
  margin-top: 10%;
}

.start-Section .rocket {
  position: relative;
  margin-top: 20%;
  max-width:100%
}

.start-Section .rocket img {
  width: 100%;
}

@media (max-width: 680px) and (min-width: 501px) {
  .start-Section  .rocket {
    position: absolute;
    position: absolute;
    bottom: -145px;
  }
}
@media (max-width: 550px) {
  .start-Section  .rocket {
    position: absolute;
    bottom: -10px;
  }
}

.Benefits img{
  max-width: 65%;  
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.Benefits h2{
  margin-top: 0.5rem;
  font-size: calc(0.75em + 1vmin);
  font-family: Montserrat-Black;
  word-wrap: break-word;
}

.y-Top{
  padding-top: 10rem;
}

.y-Bot{
  padding-bottom: 5rem;
}

.HomeWhite h1{
  color: #57CC98;
  font-size: calc(3.75em + 0.25vmin);
  max-width:100%;
  font-family: Montserrat-Black;
  word-wrap: break-word;
  
}

.HomeWhite p{
  font-size: calc(0.75em + 1vmin);
  max-width:100%;
  font-family: Montserrat-Medium;
}

.sectionAqua{
  height: 100%;
  background-color: #57CC98;
  position: relative;
}

.HomeAqua h1{
  
  color: #ffff;
  font-size: calc(3.75em + 0.25vmin);
  max-width:100%;
  font-family: Montserrat-Black;
  word-wrap: break-word;
}

.HomeAqua p{
  font-size: calc(0.5em + 1vmin);
  color: #ffff;
  max-width:100%;
  font-family: Montserrat-Medium;
}

@media (max-width: 680px) and (min-width: 501px) {
  .HomeWhite h1{
    color: #57CC98;
    font-size: calc(3.5em + 0.25vmin);
    max-width:100%;
    font-family: Montserrat-Black;
    word-wrap: break-word;
    
  }
  
  .HomeWhite p, span{
    font-size: calc(0.5em + 1vmin);
    max-width:100%;
    font-family: Montserrat-Medium;
  }
  .HomeAqua h1{
  
    color: #ffff;
    font-size: calc(3.5em + 0.25vmin);
    max-width:100%;
    font-family: Montserrat-Black;
    word-wrap: break-word;
  }
  
  .HomeAqua p{
    font-size: calc(0.5em + 1vmin);
    color: #ffff;
    max-width:100%;
    font-family: Montserrat-Medium;
  }

  .Benefits h2{
    margin-top: 0.5rem;
    font-size: calc(0.5em + 1vmin);
    font-family: Montserrat-Black;
    word-wrap: break-word;
  }
}
@media (max-width: 550px) {

  .HomeWhite h1{
    color: #57CC98;
    font-size: calc(2em + 0.25vmin);
    max-width:100%;
    font-family: Montserrat-Black;
    word-wrap: break-word;
    
  }
  
  .HomeWhite p{
    font-size: calc(0.5em + 1vmin);
    max-width:100%;
    font-family: Montserrat-Medium;
  }
  .HomeAqua h1{
  
    color: #ffff;
    font-size: calc(2em + 0.25vmin);
    max-width:100%;
    font-family: Montserrat-Black;
    word-wrap: break-word;
  }
  
  .HomeAqua p{
    font-size: calc(0.5em + 1vmin);
    color: #ffff;
    max-width:100%;
    font-family: Montserrat-Medium;
  }

  .Benefits h2{
    margin-top: 0.5rem;
    font-size: calc(0.45em + 1vmin);
    font-family: Montserrat-Black;
    word-wrap: break-word;
  }
  
}

.lastLogo Img{
  max-width:100%;
  margin-left:-115px;
}

.lastSection Img{
  max-width:100%;
}

.apply-now-button{
  background-color: #5CCD9C;
  cursor: pointer;
  border-radius: 16px;
  width: 170px;
  color: #fff !important;
  text-align: center;
  margin-top: -1px;
  font-weight: 900;
  font-size: 20px;
  line-height: 90%;
  padding: 15px;
}

.align-center{
  align-self: center;
}

#banner {
  position: relative;
  height:100vh;
  width:100%;
  overflow: hidden;
  
}
#videobcg {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 110%;
  width: 100%;
  object-fit: cover;
  object-position: right;
  z-index: -100;
}
.rocket {
  position: absolute;
  bottom:0;
  
  max-width:100%
}

.divIzquierda{
  position: relative;
}


.divIzquierda Img{
  max-width:110%;
  margin-left:-115px;
}

.divDerecha{
  position: relative;
}

.divDerecha Img{
  max-width: 100%;
  margin-right:0;
  display:block;
}




.Homeheader {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.Homeheader video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.Homeheader .container {
  position: fixed;
  z-index: 0;
}



@media (pointer: coarse) and (hover: none) {
  .Homeheader {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  .Homeheader video {
    display: none;
  }
}

.HomeTitle{
  font-size: calc(3.75em + 0.25vmin);
  color: #ffff;
}


/* pruebas */

particle {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  z-index: 1034;
}

.container h1, h2, h3, p, .titleImage{
  padding: 0px 30px 0px 30px;
}

.menu-wrap {
  position: relative;
  display: block;
}

